<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ckx.api.persist.mapper.PictureMapMapper" >
  <resultMap id="BaseResultMap" type="com.ckx.api.persist.entity.PictureMap" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="count" property="count" jdbcType="INTEGER" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="catelogs" property="catelogs" jdbcType="INTEGER" />
    <result column="context" property="context" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, count, url, catelogs, context
  </sql>

  <select id="paginate" resultMap="BaseResultMap" parameterType="map">
    select 'false' as QUERYID,
    <include refid="Base_Column_List" />
    from picture_map
    <where>
      <if test="id != null">
        and id = #{id,jdbcType=INTEGER}
      </if>
    </where>
    order by id desc
    limit #{start}, #{size}
  </select>
  <select id="paginateCount" resultType="java.lang.Integer"
          parameterType="map">
    select count(0)
    from picture_map
    <where>
      <if test="id != null">
        and id = #{id,jdbcType=INTEGER}
      </if>
    </where>
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from picture_map
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from picture_map
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ckx.api.persist.entity.PictureMap" >
    insert into picture_map (id, name, count, 
      url, catelogs, context
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{count,jdbcType=INTEGER}, 
      #{url,jdbcType=VARCHAR}, #{catelogs,jdbcType=INTEGER}, #{context,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ckx.api.persist.entity.PictureMap" >
    insert into picture_map
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="count != null" >
        count,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="catelogs != null" >
        catelogs,
      </if>
      <if test="context != null" >
        context,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="count != null" >
        #{count,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="catelogs != null" >
        #{catelogs,jdbcType=INTEGER},
      </if>
      <if test="context != null" >
        #{context,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ckx.api.persist.entity.PictureMap" >
    update picture_map
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="count != null" >
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="catelogs != null" >
        catelogs = #{catelogs,jdbcType=INTEGER},
      </if>
      <if test="context != null" >
        context = #{context,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ckx.api.persist.entity.PictureMap" >
    update picture_map
    set name = #{name,jdbcType=VARCHAR},
      count = #{count,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR},
      catelogs = #{catelogs,jdbcType=INTEGER},
      context = #{context,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>