<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ckx.web.persist.mapper.MovieMapper" >
    <resultMap id="BaseResultMap" type="com.ckx.web.persist.entity.Movie" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="icon" property="icon" jdbcType="VARCHAR" />
        <result column="catelog" property="catelog" jdbcType="INTEGER" />
        <result column="cTime" property="ctime" jdbcType="TIMESTAMP" />
        <result column="detailurl" property="detailurl" jdbcType="VARCHAR" />
        <result column="pub_date" property="pubDate" jdbcType="DATE" />
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.ckx.web.persist.entity.Movie" extends="BaseResultMap" >
        <result column="content" property="content" jdbcType="LONGVARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, name, icon, catelog, cTime, detailurl, pub_date
    </sql>
    <sql id="Blob_Column_List" >
        content
    </sql>

    <select id="listAll" resultMap="BaseResultMap" parameterType="map">
        select 'false' as QUERYID,
        id,name,pub_date
        from movie
        order by pub_date desc
    </select>

    <select id="paginate" resultMap="BaseResultMap" parameterType="map">
        select 'false' as QUERYID,
        <include refid="Base_Column_List" />,
        <include refid="Blob_Column_List" />
        from movie
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
        </where>
        order by pub_date desc
        limit #{begRow}, #{pageSize}
    </select>
    <select id="paginateCount" resultType="java.lang.Integer"
            parameterType="map">
        select count(0)
        from movie
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
        </where>
    </select>


    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
        select 'true' as QUERYID,
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
        from movie
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from movie
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.ckx.web.persist.entity.Movie" >
        insert into movie (id, name, icon,
        catelog, cTime, detailurl,
        pub_date, content)
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR},
        #{catelog,jdbcType=INTEGER}, #{ctime,jdbcType=TIMESTAMP}, #{detailurl,jdbcType=VARCHAR},
        #{pubDate,jdbcType=DATE}, #{content,jdbcType=LONGVARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.ckx.web.persist.entity.Movie" >
        insert into movie
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="icon != null" >
                icon,
            </if>
            <if test="catelog != null" >
                catelog,
            </if>
            <if test="ctime != null" >
                cTime,
            </if>
            <if test="detailurl != null" >
                detailurl,
            </if>
            <if test="pubDate != null" >
                pub_date,
            </if>
            <if test="content != null" >
                content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="icon != null" >
                #{icon,jdbcType=VARCHAR},
            </if>
            <if test="catelog != null" >
                #{catelog,jdbcType=INTEGER},
            </if>
            <if test="ctime != null" >
                #{ctime,jdbcType=TIMESTAMP},
            </if>
            <if test="detailurl != null" >
                #{detailurl,jdbcType=VARCHAR},
            </if>
            <if test="pubDate != null" >
                #{pubDate,jdbcType=DATE},
            </if>
            <if test="content != null" >
                #{content,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ckx.web.persist.entity.Movie" >
        update movie
        <set >
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="icon != null" >
                icon = #{icon,jdbcType=VARCHAR},
            </if>
            <if test="catelog != null" >
                catelog = #{catelog,jdbcType=INTEGER},
            </if>
            <if test="ctime != null" >
                cTime = #{ctime,jdbcType=TIMESTAMP},
            </if>
            <if test="detailurl != null" >
                detailurl = #{detailurl,jdbcType=VARCHAR},
            </if>
            <if test="pubDate != null" >
                pub_date = #{pubDate,jdbcType=DATE},
            </if>
            <if test="content != null" >
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.ckx.web.persist.entity.Movie" >
        update movie
        set name = #{name,jdbcType=VARCHAR},
        icon = #{icon,jdbcType=VARCHAR},
        catelog = #{catelog,jdbcType=INTEGER},
        cTime = #{ctime,jdbcType=TIMESTAMP},
        detailurl = #{detailurl,jdbcType=VARCHAR},
        pub_date = #{pubDate,jdbcType=DATE},
        content = #{content,jdbcType=LONGVARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ckx.web.persist.entity.Movie" >
        update movie
        set name = #{name,jdbcType=VARCHAR},
        icon = #{icon,jdbcType=VARCHAR},
        catelog = #{catelog,jdbcType=INTEGER},
        cTime = #{ctime,jdbcType=TIMESTAMP},
        detailurl = #{detailurl,jdbcType=VARCHAR},
        pub_date = #{pubDate,jdbcType=DATE}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>