<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ckx.web.persist.mapper.PictureMapper">
  <resultMap id="BaseResultMap" type="com.ckx.web.persist.entity.Picture">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="seat" jdbcType="INTEGER" property="seat" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="map_id" jdbcType="VARCHAR" property="mapId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, seat, url, map_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from picture
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from picture
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ckx.web.persist.entity.Picture">
    insert into picture (id, name, seat, 
      url, map_id)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{seat,jdbcType=INTEGER}, 
      #{url,jdbcType=VARCHAR}, #{mapId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ckx.web.persist.entity.Picture">
    insert into picture
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="seat != null">
        seat,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="mapId != null">
        map_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="seat != null">
        #{seat,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="mapId != null">
        #{mapId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ckx.web.persist.entity.Picture">
    update picture
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="seat != null">
        seat = #{seat,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="mapId != null">
        map_id = #{mapId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ckx.web.persist.entity.Picture">
    update picture
    set name = #{name,jdbcType=VARCHAR},
      seat = #{seat,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR},
      map_id = #{mapId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.ckx.web.persist.entity.Picture">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="seat" jdbcType="INTEGER" property="seat" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="map_id" jdbcType="VARCHAR" property="mapId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, seat, url, map_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from picture
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from picture
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ckx.web.persist.entity.Picture">
    insert into picture (id, name, seat, 
      url, map_id)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{seat,jdbcType=INTEGER}, 
      #{url,jdbcType=VARCHAR}, #{mapId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ckx.web.persist.entity.Picture">
    insert into picture
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="seat != null">
        seat,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="mapId != null">
        map_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="seat != null">
        #{seat,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="mapId != null">
        #{mapId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ckx.web.persist.entity.Picture">
    update picture
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="seat != null">
        seat = #{seat,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="mapId != null">
        map_id = #{mapId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ckx.web.persist.entity.Picture">
    update picture
    set name = #{name,jdbcType=VARCHAR},
      seat = #{seat,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR},
      map_id = #{mapId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>