@CHARSET "UTF-8";

.form_style .field_label {
  text-align: right;
}

#queryForm input,#queryForm select {
  width: 120px;
}

#frmEditForm {
  line-height: 20px;
}

#frmEditForm input,#frmEditForm select {
  width: 200px;
}

#frmEditForm .checkbox {
  width: 30px;
}

#frmEditForm .from_required {
  color: red;
}

.multi_text {
  width : 100%;
  height : 100%;
  line-height: 20px;
  text-align: left;
  font-size: 1.2em;
  overflow-y: scroll;
  word-break: break-all;
}